@tailwind base;
@tailwind components;
@tailwind utilities;

.box1{
    background-image: url(./imgfahim/Rectangle\ 37.svg);
    height: 97vh;
    background-position: center;
    background-size: cover;
}

.box2{
    background-image: url(./imgfahim/Rectangle\ 79.svg);
    height: 97vh;
    background-position: center;
    background-size: cover;
}

.box3{
    background-image: url(./imgfahim/Rectangle\ 79.svg);
    height: 97vh;
    background-position: center;
    background-size: cover;
<<<<<<< HEAD
}

.box4{
    background-image: url(./imgfahim/Rectangle\ 112.svg);
    height: 80vh;
    background-position: center;
    background-size: cover;
=======
    background-image: url(./img/Rectangle\ 37.svg);
    width: 100%;
>>>>>>> 26f86dbabaf65db1e51f96f849afc89298f9cc1b
}